<form action="">
    <h2>Add Company</h2>
    <link rel="stylesheet" href="/formfly/css/style.css">
    <div
        style=" border-radius:15px ; margin-left:450px;margin-top:95px ;background-color:rgba(0, 0, 0, 0.453) ; height:160px ;width:650px;">
        <div style="padding:15px ;" class="form-row">
            <div class="form-group col-md-6">
                <label style="color: whitesmoke;" for="inputEmail4">Company Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Company Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Tarikh Tasis</label>
                <input type="datetime" class="form-control" id="inputPassword4" placeholder="Tarikh Tasis">
            </div>

            <button type="submit" class="btn btn-success">Sabt</button>
            <button type="submit" class="btn btn-danger">Enseraf</button>
        </div>
    </div>
</form>
