<form action="">

	<link rel="stylesheet" href="/formfly/css/style.css">
	<h2>Add Fly</h2>
	<div
		style=" border-radius:15px ; margin-left:450px;margin-top:95px ;background-color:rgba(0, 0, 0, 0.453) ; height:380px ;width:650px;">
		<div style="padding:15px ;" class="form-row">
			<div class="form-group col-md-6">
				<label style="color: whitesmoke;" for="inputEmail4">Mabda</label>
				<input type="text" class="form-control" id="inputEmail4" placeholder="Mabda">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4">Maghsad</label>
				<input type="text" class="form-control" id="inputPassword4" placeholder="Maghsad">
			</div>
		</div>

		<div style="padding: 15px;" class="form-row">
			<div class="form-group col-md-6">
				<label for="inputEmail4">Tarikh Parvaz</label>
				<input type="datetime" class="form-control" id="inputEmail4" placeholder="Tarikh Parvaz">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4">Company Name</label>
				<input type="text" class="form-control" id="inputPassword4" placeholder="Company Name">
			</div>
		</div>

		<div style="padding: 15px;" class="form-row">
			<div class="form-group col-md-6">
				<label for="inputEmail4">Mablagh</label>
				<input type="number" class="form-control" id="inputEmail4" placeholder="Mablagh">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4">Tedad</label>
				<input type="number" class="form-control" id="inputPassword4" placeholder="Tedad">
			</div>



			<button type="submit" class="btn btn-success">Sabt</button>
			<button type="submit" class="btn btn-danger">Enseraf</button>
		</div>
	</div>
</form>