    <h2>Admin</h2>
    <link rel="stylesheet" href="/formfly/css/style.css">
    <div
        style=" border-radius:15px ; margin-left:450px;margin-top:95px ;background-color:rgba(0, 0, 0, 0.453) ; height:160px ;width:650px;">
        <div style="padding:15px ;" class="form-row">
            <div class="form-group col-md-6">
                <label style="color: whitesmoke;" for="inputEmail4">username</label>
                <input value="admin" type="text" class="form-control" id="inputEmail4" placeholder="username">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">password</label>
                <input value="1234" type="password" class="form-control" id="inputPassword4" placeholder="password">
            </div>

            <button type="submit" class="btn btn-success">Sabt</button>
            
        </div>
    </div>